body {
  background-color: teal;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
h3 {
  margin: 0;
  text-align: center;
  color: #eee;
}
button:focus,
button:active {
  border: none;
  outline: none;
}

.d-inline {
  display: inline;
}
.width-auto {
  width: auto;
}
.title {
  font-size: 25px;
  font-weight: 600;
  color: #eee;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

nav {
  background-color: teal;
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.d-flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.nav-items {
  color: #eee;
  font-size: 18px;
}
.border-radius {
  border-radius: 5px;
}
.nav-item {
  padding: 10px;
  cursor: pointer;
}
.title {
  cursor: pointer;
}
.active {
  background-color: #eee;
  color: teal;
  font-weight: 600;
}

.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.width-50-percent {
  width: 50%;
}
.width-100-percent {
  width: 100%;
}

.wrapper {
  padding: 0 5vw;
  box-sizing: border-box;
}

.main {
  display: flex;
  padding: 3vh 5vw;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
}
#add-container {
  width: 30%;
  padding: 2%;
  height: 50%;
  margin: 10px;
}
#invoice-container {
  width: 60%;
  padding: 10px;
  margin: 10px;
}

.expand-container {
  font-size: 30px;
  font-weight: bold;

  padding: 10px;
  transition: all 0.3s;
}
.expand-container:after {
  content: "\002B";
}

/* .details-container .active:after{
  transition:0.5s ease-in-out;
} */
.details-container{
  cursor: pointer;
}

.details-container .active:after {
  content: "\2212";
}
.details div {
  font-size: 1.1em;
}

#add-container,
#invoice-container,
.dialog-box,
.history-list {
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: black;
  border: 10px solid rgb(87, 104, 102);
  border-radius: 10px;
}
.history-list {
  padding: 20px;
  margin: 10px;
  text-align: start;
  transition: height 0.5s ease-in;
}
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

#add-container .controls {
  width: 70%;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 2px solid #b5c5dd;
  border-radius: 10px;
}


input:focus,
input:active {
  outline: none;
  border: none;
}
.input-form {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 10px 15px;
}

.input-form label {
  margin-right: 5px;
}
.input-form .error {
  border: 2px solid #c0392b;
}

.input-form label.showerror {
  display: block;
  color: #c0392b;
  font-size: 10px;
}
.input-form label.hideerror {
  display: none;

}
button {
  width: 100%;
  background: white;
  border: none;
  height: 30px;
  margin-top: 2px;
  cursor: pointer;
  color: white;
}

button:hover {
  transform: scale(1.05);
}
button {
  background-color: #2980b9;
  border-radius: 20px;
}
#remove,
.delete {
  background-color: #c0392b;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.visual-error {
  opacity: 1;
  background-color: #c0392b;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

.visual-success {
  opacity: 1 !important;
  background-color: teal;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.invoice-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort-buttons button {
  width: auto;
  border-radius: 10px;
  background-color: teal;
}

.table-area button {
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.table {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.table .col {
  padding: 5px 10px;
  box-sizing: border-box;
}
.table-headers {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.hide {
  display: none;
}
#total-info {
  margin: 10px;
  text-align: end;
  padding-right: 5px;
  color: teal;
  font-weight: bold;
  font-size: 1.2rem;
}
#total-info div {
  margin: 5px;
}
#total-info button {
  width: 200px;
}

.delete-dialog,
.dialog {
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  position: fixed;
}
.backdrop {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  transition: 0.3s;
  animation: appear 0.3s;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.dialog-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 250px;
  width: 40%;
  margin-top: 20vh;
  transition: 0.3s;
  animation: slidein 0.3s;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.dialog-container {
  width: 60%;
}
.delete-dialog.open,
.dialog.open {
  display: flex;
}
.delete-dialog.close,
.dialog.close {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}